@page
@model webapp.Pages.Records.EditModel
@{
    ViewData["PageTitle"] = "Records";
}

<h1>Edit</h1>

<h4>Record</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Record.RecordId" />
            <div class="form-group">
                <label asp-for="Record.Note" class="control-label"></label>
                <input asp-for="Record.Note" class="form-control" />
                <span asp-validation-for="Record.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.Category" class="control-label"></label>
                <input asp-for="Record.Category" class="form-control" />
                <span asp-validation-for="Record.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.Amount" class="control-label"></label>
                <input asp-for="Record.Amount" class="form-control" />
                <span asp-validation-for="Record.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.Date" class="control-label"></label>
                <input asp-for="Record.Date" class="form-control" />
                <span asp-validation-for="Record.Date" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Record.IsDone" /> @Html.DisplayNameFor(model => model.Record.IsDone)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
