@page "{handler?}"
@model webapp.Pages.Records.IndexModel
@using Syncfusion.EJ2.Calendars;
@using Syncfusion.EJ2.DropDowns;
@using Syncfusion.EJ2.Inputs;
@{
    ViewData["PageTitle"] = "Records";

    var toolbarItems = new string[] {
        "Add", "Edit", "Delete", "Print", "ExcelExport", "PdfExport", "Search"
    };
    var commands = new List<object>() {
        new { type = "Edit", buttonOption = new { iconCss = "e-icons e-edit", cssClass = "e-flat" }},
        new { type = "Delete", buttonOption = new { iconCss = "e-icons e-delete", cssClass = "e-flat" }},
    };
    var searchSettings = new string[] { "Note", "Category", "Status" };
    var sortSettings = new List<Object>() { new { field = "Date", direction = "Ascending" } };
    var validationRules = new { required = true };

    var dateParams = new {
        @@params = new DatePicker() {
            Format = "dd/MM/yyyy",
            Placeholder = "Date",
        }
    };
    var statusParams = new {
        @@params = new DropDownList() {
            DataSource = new object[] {
                new { Value = false, Text = "Pending" },
                new { Value = true, Text = "Closed" },
            },
            Query = "new ej.data.Query()",
            Fields = new DropDownListFieldSettings() { Value = "Value", Text = "Text" },
            Placeholder = "Status",
        }
    };
    var noteParams = new {
        @@params = new TextBox() {
            Placeholder = "Note"
        }
    };
    var categoryParams = new {
        @@params = new DropDownList() {
            DataSource = new string[] { "💰 Salary", "🍔 Food", "🎁 Pleasure", "⚽ Activity", "💸 Savings" },
            Query = "new ej.data.Query()",
            AllowFiltering = true,
            FilterType = FilterType.Contains,
            Placeholder = "Category",
        }
    };
    var amountParams = new {
        @@params = new NumericTextBox() {
            Decimals = 2,
            Placeholder = "Amount",
            Currency = "EUR",
            Locale = "fr-FR",
            Format = "C2",
        }
    };
}
@Html.AntiForgeryToken()

<ejs-grid id="grid" load="onLoad" dataBound="dataBound" actionComplete="actionComplete" allowPaging="true" allowSorting="true" allowFiltering="true" enableStickyHeader="true" allowPdfExport="true" allowExcelExport="true" pdfExportComplete="pdfExportComplete" excelExportComplete="excelExportComplete" toolbarClick="toolbarClick" toolbar="toolbarItems" width="100%" height="100%">
    <e-data-manager url="/Records/DataSource" crudUrl="/Records/CrudUpdate" adaptor="UrlAdaptor"></e-data-manager>
    <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Dialog" showConfirmDialog="true" showDeleteConfirmDialog="true"></e-grid-editSettings>
    <e-grid-pagesettings pageSize="20"></e-grid-pagesettings>
    <e-grid-sortsettings columns="sortSettings"></e-grid-sortsettings>
    <e-grid-filtersettings type="Menu"></e-grid-filtersettings>
    <e-grid-searchSettings fields="searchSettings" operator="contains" ignoreCase="true"></e-grid-searchSettings>
    <e-grid-loadingIndicator indicatorType="Shimmer"></e-grid-loadingIndicator>
    <e-grid-columns>
        <e-grid-column field="RecordId" headerText="Id" isPrimaryKey="true" visible="false"></e-grid-column>
        <e-grid-column field="Date" headerText="Date" editType="datepickeredit" edit="dateParams" validationRules="validationRules" format="dd/MM/yyyy" defaultValue="@DateTime.Now" width="120"></e-grid-column>
        <e-grid-column field="IsDone" headerText="Status" editType="dropdownedit" edit="statusParams" validationRules="validationRules" template="#statusTemplate" defaultValue="false" width="120"></e-grid-column>
        <e-grid-column field="Note" headerText="Note" editType="textboxedit" edit="noteParams" validationRules="validationRules" width="400"></e-grid-column>
        <e-grid-column field="Category" headerText="Category" editType="dropdownedit" edit="categoryParams" validationRules="validationRules" width="180"></e-grid-column>
        <e-grid-column field="Amount" headerText="Amount" editType="numericedit" edit="amountParams" validationRules="validationRules" format="C2" template="#amountTemplate" width="150"></e-grid-column>
        <e-grid-column headerText="Commands" commands="commands" textAlign="Right" allowResizing="false" width="120"></e-grid-column>
    </e-grid-columns>
</ejs-grid>

<script id="statusTemplate" type="text/x-template">
    ${if(IsDone)}
        <span class="badge bg-success p-2">${Status}</span>
    ${else}
        <span class="badge bg-danger p-2">${Status}</span>
    ${/if}
</script>

<script id="amountTemplate" type="text/x-template">
    ${if(Amount > 0)}
        <span class="badge bg-success p-2">${FormattedAmount}</span>
    ${else}
        <span class="badge bg-danger p-2">${FormattedAmount}</span>
    ${/if}
</script>

<script>
    function onLoad() {
        this.dataSource.dataSource.headers = [{ "XSRF-TOKEN": $("input:hidden[name='__RequestVerificationToken']").val() }];
    }

    function dataBound(args) {

    }

    function actionComplete(args) {
        if ((args.requestType === "beginEdit" || args.requestType === "add")) {
            var dialog = args.dialog;
            dialog.element.style.maxHeight = "1000px";
        }
    }

    function toolbarClick(args) {
        var gridObj = document.getElementById("grid").ej2_instances[0];
        if (args.item.id === "grid_pdfexport") {
            gridObj.showSpinner();
            gridObj.pdfExport();
        }
        if (args.item.id === "grid_excelexport") {
            gridObj.showSpinner();
            gridObj.excelExport();
        }
    }

    function pdfExportComplete(args) {
        this.hideSpinner();
    }

    function excelExportComplete(args) {
        this.hideSpinner();
    }
</script>
