<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link" asp-page="/Index">
            @Localizer["Dashboard"]
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-page="/Transactions/CurrentMonth">
            @Localizer["Current month"]
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-page="/Transactions/Index">
            @Localizer["Transactions"]
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-page="/Categories/Index">
            @Localizer["Categories"]
        </a>
    </li>
    <!--
    <li class="flex-grow-1">
    </li>
    -->
</ul>
