@page
@model DownloadPersonalDataModel
@{
    ViewData["IsSettingsPage"] = true;
    ViewData["PageTitle"] = "Download Your Data";
    ViewData["ActivePage"] = SettingsNavPages.PersonalData;
}

<h3>@ViewData["PageTitle"]</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
