@page
@model IndexModel
@{
    ViewData["IsSettingsPage"] = true;
    ViewData["PageTitle"] = Localizer["Profile"];
    ViewData["ActivePage"] = SettingsNavPages.Index;
}

<div class="container">
    <ejs-breadcrumb id="breadcrumb" cssClass="my-3" enableNavigation="true" maxItems="3" overflowMode="Menu">
        <e-breadcrumb-items>
            <e-breadcrumb-item iconCss="e-icons e-home" url="/"></e-breadcrumb-item>
            <e-breadcrumb-item text="@Localizer["Settings"].Value" url="/Account/Settings"></e-breadcrumb-item>
        </e-breadcrumb-items>
    </ejs-breadcrumb>

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input asp-for="Username" class="form-control" disabled />
            <label asp-for="Username" class="form-label"></label>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Input.PhoneNumber" class="form-control" placeholder="@Localizer["Phone number placeholder"]" />
            <label asp-for="Input.PhoneNumber" class="form-label"></label>
            <span asp-validation-for="Input.PhoneNumber" class="text-danger d-block my-2"></span>
        </div>
        <button id="update-profile-button" type="submit" class="w-100 btn btn-primary">@Localizer["Save"]</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
