@page
@model SetPasswordModel
@{
    ViewData["IsSettingsPage"] = true;
    ViewData["PageTitle"] = Localizer["Password update"];
    ViewData["ActivePage"] = SettingsNavPages.ChangePassword;
}

<ejs-breadcrumb id="breadcrumb" cssClass="p-4" enableNavigation="true" maxItems="3" overflowMode="Menu">
    <e-breadcrumb-items>
        <e-breadcrumb-item iconCss="e-icons e-home" url="/"></e-breadcrumb-item>
        <e-breadcrumb-item text="@Localizer["Settings"].Value" url="/Account/Settings"></e-breadcrumb-item>
        <e-breadcrumb-item text="@Localizer["Password update"].Value" url="/Account/Settings/SetPassword"></e-breadcrumb-item>
    </e-breadcrumb-items>
</ejs-breadcrumb>

<h3>@ViewData["PageTitle"]</h3>
<div class="row mt-3">
    <div class="col-xxl-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" placeholder="Please enter your new password."/>
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Please confirm your new password."/>
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Set password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
