/* site.css */

/** Common **/

html, body {
    position: relative;
    height: 100%;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

* {
    font-family: "Roboto";
}

a {
    color: #0077cc;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/** Navbar **/

.navbar {
    font-family: "Inter";
    font-weight: 500;
}

@media (min-width: 992px) {
    .navbar > .container {
        max-width: 992px;
    }
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.dropdown-menu {
    font-size: 14px;
    font-weight: 300;
}

/** Dashboard **/

.e-dashboardlayout {
    padding: 20px;
    z-index: 0;
}

.e-panel {
    cursor: auto !important;
}

.e-panel-header {
    background: none;
    border: none !important;
    height: 40px !important;
    padding: 5px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.e-panel-content {
    height: calc(100% - 60px) !important;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 15px;
    font-weight: bold;
    color: #737373;
}

/** Charts **/

.e-chart, .e-accumulationchart {
    height: inherit !important;
    width: inherit !important;
}

.e-chart-focused:focus {
    outline: none !important;
}

.ellipse[id*=_Trackball_] {
    stroke-width: 1 !important;
}

div[id*=_DataLabel_] {
    font-family: "Inter" !important;
}
